<html>
    <head>
        <style>
            body {
                font: 12px arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h3>You did it! You registered!</h3>

        <p>Hi {{ name }}! You're successfully registered.</p>

        <p>Thanks!</p>
    </body>
</html>

