# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: db_1
    database_port: null
    database_name: propertywindow
    database_user: propertywindow
    database_password: propertywindow

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: 2a1m5Ww34Hs23dsmQ
    authentication:
        pw: '1874Hearts!'
